body{
        background-color: aqua;
    }
    .contain{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .eye{

        align-items: center;
        position: absolute;
        width: 50px;
        height: 92px;
        top: 20%;
        left: 48.5%;
        
    }
    .cover{
        position: 0;
        display: block;

    }