<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <servlet>
        <servlet-name>ViewAll</servlet-name>
        <servlet-class>Action.ViewAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>Action.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ac</servlet-name>
        <servlet-class>Action.Ac</servlet-class>
    </servlet>-->
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>Action.FilterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IntroDuction</servlet-name>
        <servlet-class>Action.IntroDuction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendToAnimal</servlet-name>
        <servlet-class>Action.SendToAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>Action.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendToAnimalDetail</servlet-name>
        <servlet-class>Action.SendToAnimalDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>Action.Verify</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>ViewAll</servlet-name>
        <url-pattern>/ViewAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>-->
    <!--    <servlet-mapping>
        <servlet-name>Ac</servlet-name>
        <url-pattern>/Ac</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>SendToDescribe</servlet-name>
        <servlet-class>Action.SendToDescribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddress</servlet-name>
        <servlet-class>Action.UpdateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Action.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAddress</servlet-name>
        <servlet-class>Action.CreateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSentToAnimal</servlet-name>
        <servlet-class>Action.SearchSentToAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadScreen</servlet-name>
        <servlet-class>Action.LoadScreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load</servlet-name>
        <servlet-class>Action.Load</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntroDuction</servlet-name>
        <url-pattern>/IntroDuction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToAnimal</servlet-name>
        <url-pattern>/SendToAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToAnimalDetail</servlet-name>
        <url-pattern>/SendToAnimalDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendToDescribe</servlet-name>
        <url-pattern>/SendToDescribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddress</servlet-name>
        <url-pattern>/UpdateAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAddress</servlet-name>
        <url-pattern>/CreateAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSentToAnimal</servlet-name>
        <url-pattern>/SearchSentToAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadScreen</servlet-name>
        <url-pattern>/LoadScreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load</servlet-name>
        <url-pattern>/Load</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>
